extends layout
block content
  body.needStyle
    h1.
      IP Addresses
    -var t = new Date()
    -t = t.getTime()
    ul
      -for(var i=0; i<iplist.length; i++)
        -var ip = iplist[i]
        -var link = "/admin/deleteip?ip=" + ip.ip
        li
          -if(t - ip.time <= 24*60*60*1000)
            p() 
              | #{ip.ip} sent #{ip.left} likes within past 24 hours.  
              a(href=link) Clear
          -else 
            p() 
              | #{ip.ip} sent #{ip.left} likes one day ago.   
              a(href=link) Clear

    br
    br
    br
    br
    a(href='/admin/manage') Back