extends layout
block content

  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/homepage.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')

  -var weight = function(v) {
    -return v.like * 4 + v.viewcount
  -}
  -var cmp_top = function(v1, v2) {
    -return weight(v1) < weight(v2)
  -}
  -var cmp_time = function(v1, v2) {
    -return v1.time < v2.time
  -}

  style(type='text/css').
    .row.cntnt {
      margin-bottom: 30px;
      margin-top: 30px;
      //- border: 1px solid black;
      width: 518px;
      padding: 9px;
      border: 1px solid #e3e3e3;
      border-bottom-color: #e0e0e0;
      border-right-color: #ececec;
      box-shadow: 1px 2px 1px rgba(0,0,0,.072);
    }

    a.ttl {
      font-size: 24px;
      margin-top: 10px;
    }

    p.des {
      margin-top: 10px;
      margin-left: 25px;
    }

    p.athr {
      color: grey;
    }

    a.lk {
      float: right;
    }

  body.needStyle

    h1 #{category}
    
    .container
    
      .row
        
        .col-xs-5
          
          h2 Top
          
          -videos.sort(cmp_top);
          -for(var i=0; i<videos.length; i++)
            -var video = videos[i];
            -var link = '/like?category=' + category + '&link=' + video.link;
            -var jumpTo = '/jumpTo?link=' + video.link;
          
            .row.cntnt       
              a.ttl(href=jumpTo) #{video.title}
              p.athr Author: #{video.email}
              p.des= video.description
              a.lk(href=link) Like(#{video.like})
        
        
        .col-xs-2

        .col-xs-5
          
          h2 Latest
          
          -videos.sort(cmp_time);
          -for(var i=0; i<videos.length; i++)
            -var video = videos[i];
            -var link = '/like?category=' + category + '&link=' + video.link;
            -var jumpTo = '/jumpTo?link=' + video.link;
          
            .row.cntnt       
              a.ttl(href=jumpTo) #{video.title}
              p.athr Author: #{video.email}
              p.des= video.description
              a.lk(href=link) Like(#{video.like})
    
    br
    br
    br
    br
    a(href='/#portfolio') Back



